body {
  margin: auto;
}

.btn {
    font-family: 'Germania One', cursive;
}



p {
  font-family: 'Crimson Text', serif;
  font-size: 1.5rem;
}

/* Navbar */
.navbar-brand {
  font-family: 'Germania One', cursive;
}

.nav-link {
  color: #ffffff;
}

.nav-item {
  font-family: 'Germania One', cursive;
  font-size: 1.5rem;
  padding: 0 18px;
}

.fixed-top.black {
  background: #000;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-brand {
  color: #ffffff;
}

.navbar-dark .navbar-toggler {
  background: black;
  color: #fff;
}

/* Header */
#header-button {
  font-family: 'Germania One', cursive;
  text-shadow: none;
}

#showcase {
  background: url("../images/contactPage.jpg") 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 80vh;
}

#header-text {
font-family: 'Germania One', cursive;
color: white;
text-shadow: 3px 0 #000;
padding-top: 30%;
}


.hero {
  font-size: 4rem;
}

/* Features */
#features {
  padding: 5% 15%;
  background: #f7f7f7
}

.feature-titles {
    font-family: 'Germania One', cursive;
    font-size: 2rem;
}

.img-fluid {
  padding: 10px;
  border: 10px solid #000;
  background-color: #000;
}

/* Contact Form */

.bottom {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  margin-bottom: 5%;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

.middle {
  border-radius: 0;
  margin-bottom: 1px;
}

.response {
  font-family: 'Germania One', cursive;
  font-size: 1.5rem;
  margin-bottom: 5%;
}

.subscribe-header {
  font-family: 'Germania One', cursive;
  font-size: 2.5rem;
}

.top {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

#envelope {
  margin-bottom: 5%;
}

/* Testimonials */
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
  margin-right: auto;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
  margin-left: auto;
}

.carousel-control-prev {
  right: 100%;
}


.testimonial-title {
    font-family: 'Germania One', cursive;
}

.testimonial-secondary-title {
  font-family: 'Fjalla One', sans-serif;
}

#testimonial-header {
  margin-bottom: 5%;
}

.testimonial-image {
  border-radius: 100%;
  margin: 20px;
  width: 10%;
}

.testimonial-text {
  font-size: 1.5rem;
  line-height: 1.5;
}

#testimonials {
  padding: 7% 15%;
}

/* CTA */

.cta-header {
    font-family: 'Germania One', cursive;
}

.cta-header2 {
  font-family: 'Fjalla One', sans-serif;
}

#cta {
  background: #f7f7f7;
  padding: 7% 15%;
}

/* Footer */
.copyright {
  color: #fff;
    font-family: 'Germania One', cursive;
    font-size: 2rem;
  margin-top: 10%;
}

.footer-link {
  color: #fff;
  padding: 5% 5%;
}

#footer {
  background: #000;
  padding: 5% 15%;
}

@media screen and (min-width: 2000px) {

}

@media screen and (max-width: 1200px) {

}

@media only screen
  and (min-device-width: 1024px)
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {
    #header-text {
      padding-top: 50%;
    }
  }

@media screen and (max-width: 786px) {
  .about-us {
    text-align: center;
  }

  #about-area {
    padding: 7% 15%;
  }

  .fixed-top {
    background: #000;
  }

  #header-text {
    padding-top: 40%;
  }
  
  .navbar-nav .nav-link {
    text-align: center;
  }

  #testimonials {
    padding: 7% 0;
  }
}

@media screen and (max-width: 468px) {
  .copyright {
    font-size: 1rem;
    text-align: center;
  }

  .footer-link {
    font-size: .5em;
    text-align: center;
  }

  #header-text {
    padding-top: 55%;
  }

  .hero {
    font-size: 3rem;
  }

  #cta-buttons {
    margin-bottom: 5%;
  }
}
